*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    min-height: 960px;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 250px;
    padding-left: 0px;
}

.row div{
    width: 20px;
    height: 20px;
    display:inline-block;
}

.brick{
    background-color: green;
}

.coin{
    background: url(./images/edf254eea0ca51397e883b6908ad57cb.gif) no-repeat;
    background-size: 50px;
    background-position: center;
}

#pac-man{
    background: url("./images/pac-man.gif") center;
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius:50%;
    position: absolute;
}

.scorediv{
    color: white;
    position: absolute;
    top: 10px;
    padding-top: 1rem;
    padding-left: 1rem;
    gap: 5px;
}

#score{
    display: flex;
    justify-content: center;
    width: 100px;
    color:goldenrod;
    border: yellow solid 1px;
    background: purple;
    font-weight: bold;
}

#ghost{
    background: url("./images/200w.gif") center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

.node{
    position: absolute;
    width: 15px;
    height: 15px;
    color: red;
    background: white;
    border: npx solid yellowgreen;
    border-radius: 50%;
}

.line {
    position: absolute;
    background-color: white;
    height: 1px;
    z-index: 1;
}

#gameover{
    
}

#cscore{

}

#hscore{

}

.restart{
    
}